* {
  margin: 0 auto;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  box-sizing: border-box;
}


.menu {
  background-color: #29b6f6;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
}

.menu ul {
  display: inline-flex;
  list-style: none;
}

.menu ul li a {
    color: #ffffff;
    text-decoration: none;
}

.menu ul li a:hover{
  color: #73e8ff;
}

.menu ul li {
  width: 150px;
  padding: 15px;
  margin: 15px;
}

.sub-menu {
  display: none;
}

.menu ul li:hover .sub-menu {
  display: block;
  position: absolute;
  background: #29b6f6;
  margin-top: 15px;
  margin-left: 10px;
}

.menu ul li:hover .sub-menu ul{
  display: block;
  margin: 10px;
}

.menu ul li:hover .sub-menu ul li {
  text-align: left;
  width: 75px;
  padding: 10px;
  background: transparent;
  border-radius: 0;
  border-bottom: 2px solid #0086c3;
}

.menu ul li:hover .sub-menu ul li:last-child {
  border-bottom: none;
}

.menu ul li:hover .sub-menu ul li a:hover {
  color: #73e8ff;
}


.intro {
 background-image: url(images/hero.jpg);
 height: 90vh;
 background-position: center;
 background-size: cover;
 background-attachment: fixed;
 justify-content; center;
 align-items: center;
 text-align: center;
 padding: 0 20px;
}

.intro h1{
  font-size: 50px;
  color: #FFFFFF;
  padding-top: 250px;
  font-weight: 150;

}

.intro h3{
  font-size: 25px;
  color: #FFFFFF;
  font-weight: 150;
}

body {
  background: #F2F3F4;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}


.box {
  margin: 70px;
  padding: 30px;
  text-align: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: #000000;
}

.box h3 {
  font-size: 20px;
}

.box p {
  font-size: 15px;
  padding-top: 10px;
  margin-bottom: 30px;
}

.box .button {
  padding: 10px 20px;
  border: 1px solid #29b6f6;
  font-size: 15px;
  text-decoration: none;
  color: #000000;
}

.box .button:hover{
  background-color: #29b6f6;
  color: #FFFFFF;
}


footer {
  background-color: #29b6f6;
  color: #FFFFFF;
  padding: 20px 25px;
}

.ncea {
  background-color: #29b6f6;
  text-align: center;
  width: 100%;
}

.ncea ul {
  display: inline-flex;
  list-style: none;
}

.ncea ul li a {
    color: #ffffff;
    text-decoration: none;
}

.ncea ul li {
  width: 400px;
  padding: 15px;
  margin: 15px;
  border-radius: 0;
  border-bottom: 2px solid #0086c3;
}

.ncea ul li a:hover{
  color: #73e8ff;
}

.text-block p{
  padding-top: 100px;
  margin: 50px auto;
  max-width: 1200px;
  width: 80%;
  line-height: 150%;
  text-align: justify;
}


input[type=text] {
  padding: 20px;
  width: 80%;
  background: #FFFFFF;
  color: #000000;
  font-size: 50px;
  text-align: center;
  outline: none;
}

.cc {
  text-align: center;
  margin: 50px auto;
  width: 80%;
}

.text-block ul {
  width: 80%;
  padding: 20px;
  margin: 50px auto;
  line-height: 400%;
  text-align: justify;
  background: #FFFFFF;
}

.text-block li {
  list-style: none;
}

.click {
  text-align: center;
  width: 10%;
  padding: 10px 20px;
  border: 1px solid #0086c3;
  border-radius: 10px;
  text-decoration: none;
}

.multiple {
  text-align: center;
  margin: 50px auto;
  width: 80%;
}

.mult {
  display: inline-block;
}

#ans {
  border-radius: 10px;
  border: 1px solid #0086c3;
  width: 10%;
  padding: 10px;
}

#n1 {
  background-image: url(images/one.jpg);
}

#n3 {
  background-image: url(images/three.jpg);
}

.soon {
  padding: 20px;
  margin: 50px auto;
  max-width: 1200px;
  width: 80%;
  line-height: 150%;
  text-align: center;
}

.soon h2 {
  font-size: 40px;
  font-weight: 150;
}

.soon ul {
  padding: 30px 0;
}

.soon li {
  list-style: none;
  padding: 5px;
}

.soon .button {
  padding: 10px 20px;
  border: 1px solid #29b6f6;
  font-size: 15px;
  text-decoration: none;
  color: #000000;
}

.soon .button:hover{
  background-color: #29b6f6;
  color: #FFFFFF;
}

#i {
  background-image: url(images/ab.jpg);
}

.information {
  padding-top: 30px;
  margin: 50px auto;
  max-width: 1200px;
  width: 80%;
  line-height: 150%;
  text-align: justify;
}
